header {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  background-color: darkgoldenrod;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* this block styles all the divs in the banner */
header > div {
  width: 30%;
  margin: 10px;
  text-align: center;
}
