header {
    width: 100%;
    font-size: 24px;
    background-image: linear-gradient(#506038, #7b7f6d);
    opacity: 0.75;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header > div {
    width: 30%;
    margin: 10px;
    text-align: center;
}
