@import modal.css
div.container {
    max-width: 1250px;
}
.card {
    margin: 6px;
    border-radius: 5px;
    background-image: url("../img/paper.png");
    overflow: hidden;
}
#pagination {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    text-align: center;
}
#pagination > button {
    cursor: url(../img/select.cur), pointer;
    box-shadow: 0px 10px 10px #222222;
    background-color: #D2D2D2;
    border: 2px solid #A2A2A2;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 6px;
    transition: background-color 0.1s linear;
    transition: border-color 0.1s linear;
}
#pagination > button:hover {
    background-color: #00B5FF;
    border-color: #FFFFFF;
}
