div.container {
  width: 80%;
  height: auto;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: firebrick;
}
/* we'll decide later if these 2 classes should be merged or not */
div.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
