@import 'container.css';
@import 'banner.css';
@import 'responsive.css';

/* remove any default margin and padding */
body {
  margin: 0;
  padding: 0;
  background-image: url('../textures/ground_03.png');
  overflow: hidden;
}

img.logo {
  width: 80px;
  height: auto;
}
