@media only screen and (max-width: 900px) {
    .onlargeonly {
        display: none;
    }
}

/* displays on small screens only */
/*
@media only screen and (max-width: 300px) {
.onsmallonly {
display: block;
}
}

@media only screen and (min-width: 301px) {
.onsmallonly {
display: none;
}
}
 */

    /* @media only screen and (max-width: 900px) {
    .onlargeonly {
    display: none;
    }
    }
     */
